# Indicates which folders and files Git should ignore
# dist/
.DS_Store
DS_Store

# Ignore the node_modules folder
node_modules/

# Ignore the .env file
.env

# Ignore the the webstrom folder
.idea/



 